[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
unknown = {editable = true,path = "."}
kappa = {editable = true,path = "."}

[packages]
flask = "*"
line-bot-sdk = "*"
beautifulsoup4 = "*"
requests = "*"
gunicorn = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
