[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
line-bot-sdk = "*"
beautifulsoup4 = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
